<!DOCTYPE html>
<html>
<head>
  <title>Exercise 1 - Scott Zuvich</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <a href="/">Home</a>
  <h1>Sample Form</h1>
  <form name="sample" id="sample" action="/submit1" method="post">
    <p><label for="iName">Name: <input type="text" name="iName" id="name" /></label></p>
    <p><label for="email">Email: <input type="text" name="email" id="email" /></label></p>
    Payment Type:<br />
    <label for="cash"><input type="radio" name="payment" id="cash" value="cash" /> Cash</label><br />
    <label for="checkbox"><input type="radio" name="payment" id="cc" value="cc" /> Credit Card</label><br />
    <label for="gpay"><input type="radio" name="payment" id="gpay" value="gpay" /> Google Pay</label><br />
    <label for="apay"><input type="radio" name="payment" id="apay" value="apay" /> Apple Pay</label>
    <p><label for="signup"><input type="checkbox" name="promotion" id="promotion" value="on" /> Sign up for the promotion</label></p>
    <p>
      <label for="location">Preferred location:</label>
      <select name="location" id="location">
        <option value="la">Los Angeles</option>
        <option value="oc">Orange County</option>
        <option value="rs">Riverside</option>
        <option value="sd">San Diego</option>
      </select>
    </p>
    <input type="submit" name="submit" id="submit" value="Submit" />
    <input type="reset" name="cancel" id="cancel" value="Cancel" />
  </form>
  <div id="output"></div>
  <script src="../ex1.js"></script>
</body>
</html>