<!DOCTYPE html>
<html>
<head>
  <title>Exercise 2 - Scott Zuvich</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <a href="/">Home</a>
  <h1>Scott's Counties API Call</h1>
  <form name="call" id="call" action="/api/countries" method="post">
    <input type="hidden" name="user" id="user" value="Scott" />
    <input type="submit" name="submit" id="submit" value="Call" />
  </form>
  <div id="output"></div>
  <script src="../ex2.js"></script>
</body>
</html>